@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {  
  background-color: HoneyDew;
  font-family: 'Fredoka One', cursive;
  margin: 0;
  padding: 0;
}

.text-container {
  padding: 80px 0;
  text-align: center;
}

.text-container h2 {
  font-size: 6em;
  text-transform: uppercase;
}

.text-container .text-gradient {  
  color: transparent;
  background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);
   webkit-background-clip: text;
    background-clip: text;
  animation: color 3s linear infinite; 
  background-size: 500%;  
  -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.text-container .text-pattern {  
  color: transparent;
  background-color: #dca714;
  background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255,255,255,.5) 25px, rgba(255,255,255,.5) 50px);
   -webkit-background-clip: text;
    background-clip: text;   
  animation: color 50s linear infinite; 
  background-size: 100%;  
  -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

@keyframes color {
  from { 
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%; 
  }
}

#outside-pic {
    width: 350px;
    height: 350px;
    align-items: center;
  }
  